.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.form-wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
}

h1 {
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    text-align: start;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    font-weight: 600;
}

.input-group input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}


.signup-link-wrapper {
    text-align: center;
    margin-top: 20px;
}

.signup-link-wrapper h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-weight: normal;
}

.signup-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.signup-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .form-wrapper {
        padding: 20px;
        width: 90%;
    }

    .login-container {
        padding: 0;
    }
}